---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

const blogPosts = await getCollection('blogs', ({ data }) => {
  return data.draft !== true;
});

// Sort by date, newest first
blogPosts.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<Layout title="Blog">
  <h1>Blog</h1>
  <div class="blog-list">
    {blogPosts.map(post => (
      <article>
        <h2><a href={`/blog/${post.slug}`}>{post.data.title}</a></h2>
        <p>{post.data.description}</p>
        <time>{post.data.publishDate.toLocaleDateString()}</time>
      </article>
    ))}
  </div>
</Layout>
